*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: "Oswald", sans-serif;}

/* Alinear los objetos, el logo y el titulo a la izquierda y la lista a la derecha*/
header{
    background: rgb(121,9,9);
    background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(121,9,9,1) 22%, rgb(0, 38, 255) 70%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav ul{
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    padding: 40px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: sans-serif;
}

header a:hover{
    background-color: rgb(0, 16, 109);
}

 /*Mover la imagen y el titulo*/
.logo {
    display: flex;
    align-items: center;
}

/* Ajuste del tamaño y posicion de la imagen */
.logo > img{
    width: 100px;
    height: 100px;
    vertical-align: top;
    margin-right: 20px;
}

/*  TAMAÑO DE TEXTO */
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2.7em;}
p{ font-size: 1.25em;}
h1,h2,h1,p,h3{font-family: sans-serif;}

/* Formulario */

body {
  font-family: "Lato", sans-serif;
  background: #ff8473;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
}

.container {
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  background: transparent;
  max-width: 320px;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}
form::before, form::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
form::before {
  z-index: -1;
  background: transparent;
  transform: translateX(-3.5rem) translateY(-3.75rem);
  border: 6px solid #0e39fe;
}
form::after {
  background: #0ea8ec;
  z-index: -2;
  transform: translateX(-2rem) translateY(-2.25rem);
}
form h1 {
  text-align: center;
  margin: 0 0 0.25rem 0;
  padding: 0;
  font-size: 1.5rem;
}
form small {
  display: block;
  margin: 0 auto 1rem;
  padding: 0;
  font-size: 14px;
}
form:focus-within {
  background: #0ea8ec;
}
form:focus-within::before {
  width: 0%;
  height: 0%;
  transform: translatex(0px) translatey(0px);
}
form .field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
form label,
form input {
  transition: all 0.3s ease;
  touch-action: manipulation;
}
form label {
  opacity: 0;
}
form input {
  padding: 10px 20px;
  border: 4px solid white;
  margin: 0 1.5rem;
  background-color: transparent !important;
  -webkit-appearance: none;
  color: white;
}
form input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #0ea8ec inset;
  -webkit-text-fill-color: white !important;
}
form input::-moz-placeholder {
  color: white;
}
form input:-ms-input-placeholder {
  color: white;
}
form input::placeholder {
  color: white;
}
form input:focus {
  color: #0e39fe;
  font-weight: bold;
  outline: 0;
  border: 6px solid #0e39fe;
}
form input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: inherit;
  transition: inherit;
}
form input:focus::-webkit-input-placeholder {
  opacity: 0;
}
form button {
  border: none;
  padding: 0.85rem 1rem;
  margin-top: 2rem;
  background-color: #0e39fe;
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  width: 65%;
  position: absolute;
  bottom: -20px;
  right: 18%;
  letter-spacing: 0.15em;
  transition: all 0.3s ease;
}
form button:hover {
  border: 6px solid #090c9b;
}
form p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin: 0.5rem 1.5rem 1.75rem 1.5rem;
}
form p.success-message {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
  margin: 1.5rem auto 5rem auto;
}

/* Ajustes del pie de pagina */
.pie-pagina{
    width: 100%;
    background-color: rgb(56, 1, 1);
}

.pie-pagina .footer-one{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo > img{
    width: 200px;
    height: 200px;
    vertical-align: top;
}

.parrafo h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.parrafo p{
    color: #efefef;
    margin-bottom: 20px;
}

.pie-pagina  a{
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    margin-right: 20px;
}

.red-social a img{
    width: 50px;
}

.footer-two{
    background-color: rgb(0, 38, 255);
    padding: 10px 5px;
    text-align: center;
    color: #fff;
}